a {
    cursor: pointer;
}

hr {
    border-color: #eee;
}

footer {
    padding: 20px 0;
}

input, textarea {
    width: 97% !important;
}

.input-append {
    width: 89% !important;
}

#upgrade {
    margin-top: 50px;
}

#content, #login {
    box-shadow: #eee 0 0 20px;
    border-radius: 4px;
    padding: 20px;
}

#login {
    margin-top: 50px;
    padding: 30px;
}

.grid-view {
    padding-top: 10px;
}

.grid-view .summary {
    letter-spacing: 1px;
}

.well div.settings {
    position: absolute;
    right: 32px;
    display: block;
    cursor: move;
}

.well div.settings i {
    opacity: 0.7;
}

.hint {
    font-size: 0.9em;
    color: #AAA;
    padding-left: 20px;
    width: 75%;
}

.true, .false {
    font-weight: bold;
}

.true {
    color: green;
}

.false {
    color: red;
}

.errorSummary  ul {
    margin-bottom: 0;
}

a.button.postfix.first {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

a.button.postfix.second {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.tree-box {
    overflow: scroll;
    max-height: 150px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px #EEE solid;
    padding: 10px;
}

.tree-box ul {
    list-style: none;
}

.tree-box ul:last-child {
    margin-bottom: 0px;
}

.navbar {
    margin-top: 10px;
}

.search-form {
    padding-top: 10px;
}

.search-query {
    width: auto !important;
}

.button-column {
    width: 100px;
}

.button-column a {
    margin-right: 10px;
    float: right;
}

.button-column a:first-child {
    margin-right: 0px;
}

#content .spinner {
    position: relative !important;
    left: 98% !important;
    top: 10px !important;
}

.modal-footer .spinner {
    position: relative !important;
    top: 15px !important;
    left: 15px !important;
}

td.id {
    width: 40px;
}

div.tagsinput {
    border-color: #ccc;
    border-radius: 4px;
    width: 97% !important;
    height: 20px !important;
    margin-bottom: 10px;
}

div.tagsinput .tag {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230)) !important;
    line-height: 0.65em !important;
    color: #333333 !important;
    border: 1px solid #cccccc !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 11px !important;
}

div.tagsinput div {
    line-height: 0.65em !important;
}

div.tagsinput div input {
    padding-top: 4px;
    height: 1em !important;
    margin-bottom: 0px !important;
    width: 60px !important;
}

thead th.sortable {
    cursor: pointer;
}

.notifications {
    z-index: 9999;
    opacity: 0.9;
}