#tag-cloud { word-wrap: break-word; }
#tag-cloud span.weight-1 { font-size: 1.0em; }
#tag-cloud span.weight-2 { font-size: 1.2em; }
#tag-cloud span.weight-3 { font-size: 1.4em; }
#tag-cloud span.weight-4 { font-size: 1.8em; }
#tag-cloud span.weight-5 { font-size: 2em; }
#tag-cloud span.weight-6 { font-size: 2.2em; }
#tag-cloud span.weight-7 { font-size: 2.4em; }
#tag-cloud span.weight-8 { font-size: 2.6em; }
#tag-cloud span.weight-9 { font-size: 2.8em; }
#tag-cloud span.weight-10 { font-size: 3em; }