[submodule "protected/extensions/bootstrap"]
	path = protected/extensions/bootstrap
	url = https://github.com/Crisu83/yiistrap
[submodule "protected/extensions/yiiwheels"]
	path = protected/extensions/yiiwheels
	url = https://github.com/2amigos/yiiwheels
